.hidden {
    display: none;
}
body {
    margin: 0;
}
#app {
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}
#app .content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#app > div > h2 {
    font-size: 3em;
    margin: 0;
}
#clock {
    font-weight: bold;
    font-size: 5em;
}
#todo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}
button {
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.49);
}
button:hover {
    color: white;
    cursor: pointer;
}
input {
    background: #ffffff00;
    border: none;
    border-bottom: 1px white solid;
    color: white;
    padding: 10px 5px;
}
input::placeholder {
    color: darkgrey;
}
input:focus-visible {
    outline: none;
}
#todo #todo-button {
    font-size: 1.3em;
    padding: 15px;
}
#todo #todo-content {
    background: #0000009e;
    padding: 15px;
    border-radius: 3px;
    min-width: 250px;
}
#todo #todo-content .header {
    padding: 5px;
}
#todo #todo-content .close {
    background: no-repeat;
    border: none;
    color: rgba(255, 255, 255, 0.49);
    float: right;
}
#todo #todo-content .close:hover {
    cursor: pointer;
    color: white;
}
#todo #todo-content ul {
    padding-left: 20px;
    list-style: square;
}
#todo #todo-content ul li {
    padding: 5px 0;
}
#todo #todo-content ul li .delete-btn{
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.49);
}
#todo #todo-content ul li .delete-btn:hover{
    cursor: pointer;
    color: white;
}
#todo #todo-content #todo-form * {
    width: calc(100% - 10px);
    border-bottom: 1px #ffffff14 solid;
}
#weather {
    text-align: right;
    margin: 15px;
    font-style: italic;
}